# Data Indexing
pg 107

In [1]:
import numpy as np
import pandas as pd

### Selección en series.

Las Series proporcionan un mapeo entre una colección de keys a una colección de valores. Se puden utilizar expresiones típicas de los diccionarios de Python e incluso cambiar valores de la misma forma.

In [3]:
data = pd.Series([0.25, 0.50, 0.75, 1.00], index=["a", "b", "c", "d"])

In [14]:
data['e'] = 1.25

In [15]:
"a" in data

True

In [16]:
data.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
[*data.items()]

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0), ('e', 1.25)]

In [18]:
# Slicing explicito
data['a': 'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [19]:
# Slicing implicito (int)
data[0:2]

a    0.25
b    0.50
dtype: float64

In [20]:
# Masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [21]:
# Fancy
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

Slicing con un index explicito (["a", "e"]) incluye el último indice pero de manera implicita, con el número de indice, lo excluye. Esto puede causar confusion y por eso se usan **loc, iloc e ix**

Si la serie tiene un indice explicito numerico data[1] usa el indice explicito pero data[1:3] usa el implicito. Por eso se usan los atributos espciales de indexar.

### loc - Siempre explicito

In [22]:
data2 = pd.Series(["a", "b", "c"], index=[1,3,5])

In [23]:
data2

1    a
3    b
5    c
dtype: object

In [25]:
data2.loc[1]

'a'

In [26]:
data2.loc[1:3]

1    a
3    b
dtype: object

### iloc - Siempre implicito

In [27]:
data2.iloc[1] # El 0 sería la "a"

'b'

In [32]:
data2.iloc[1:3]

3    b
5    c
dtype: object

IX es una mezcla, se verá en DF.  
Es conveniente usar loc e iloc para evitar confusión y bugs.

### Selección en Dataframes.

In [33]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135